name: check-semantic-version

on:
  workflow_call:
    inputs:
      path:
        type: string
        required: false
        default: 'pyproject.toml'
      breaking_change_indicated_by:
        type: string
        required: false
        default: 'major'

jobs:
  check-semantic-version:
    if: "!contains(github.event.head_commit.message, 'skipci')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: octue/check-semantic-version@1.0.3
        with:
          path: ${{ inputs.path }}
          breaking_change_indicated_by: ${{ inputs.breaking_change_indicated_by }}
